/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  font-family: 'Amaranth', sans-serif;
  color: white;
  overflow-x: hidden;
}
body>header{
  min-height: 1000px;
  overflow: hidden;
  transition: all 0.5s ease;
  width: 200%;
}
body>section{background-color: #082340;}
body>header>article{
  width: 16.66666666666665%;
  height: 100%;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
}
body>header>article>div.center{
  height: 100px;
  width: 100px;
  margin-top: 250px;
}
#morning{
  background-color: #5b4f35;
}
#afternoon{
  background-color: #6dbacc;
}
#evening{
  background-color: #b1c482;
}
#morning.blackout{
  background-color: #252015;
}
#afternoon.blackout{
  background-color: #152428;
}
#evening.blackout{
  background-color: #7d8e51;
}
#morning .desc{
  color: #9d978c;
}
.center{
  margin: 0 auto;
  display: block;
  text-align: center;
}
li{
  list-style: none;
}
.desc{
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.5s linear;
}
header>article:hover .desc{
  opacity: 1;
}
.info{  
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: black;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.5s ease;
  overflow: hidden;
}
header>article:hover .info{
  height: 200px;
  padding-top: 20px;
}
h2{
  font-size: 3em;
  text-align: center;
}
header p{
  font-size: 2em;
  text-align: center;
}
.blackout{
  width: 12.5%;
}
.main{
  width: 25%;
}
.no-space{
  margin: 0;
  padding: 0;
}
#afternoon:hover .center #pen{
  animation-name:animRoule; -webkit-animation-name:animRoule; 
   -moz-animation-name:animRoule; -o-animation-name:animRoule; 
   animation-duration:0.3s; -webkit-animation-duration:0.3s; 
   -moz-animation-duration:0.3s; -o-animation-duration:0.3s; 
   animation-iteration-count :infinite; -webkit-animation-iteration-count:infinite; 
   -moz-animation-iteration-count:infinite; -o-animation-iteration-count:infinite; 
   animation-direction:alternate; -webkit-animation-direction:alternate; 
   -moz-animation-direction:alternate; -o-animation-direction:alternate; 
   animation-timing-function:linear; -webkit-animation-timing-function:linear; 
   -moz-animation-timing-function:linear; -o-animation-timing-function:linear; 
} 

@keyframes animRoule{ 
   from {transform:rotate(0deg);} to {transform:rotate(8deg);} 
} 
@-webkit-keyframes animRoule{ 
   from {-webkit-transform:rotate(0deg);} to {-webkit-transform:rotate(8deg);} 
} 
@-moz-keyframes animRoule{ 
   from {-moz-transform:rotate(0deg);} to {-moz-transform:rotate(8deg);} 
} 
@-o-keyframes animRoule{ 
   from {-o-transform:rotate(0deg);} to {-o-transform:rotate(8deg);} 
}
.vert-hetic{
  color: #a8c60b;
  -webkit-text-stroke:2px rgba(0,0,0,0.1);
}
small{
  font-size: 1em;
  opacity: 0.4;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: white;
}
.center p{
  text-align: center;
}
#letter{
  display: block;
  width: 100px;
}
li{font-size: 2em;}
.side img{
  width: 100px;
}
.side>a{
  display: block;
  margin: 25px 0 25px 0;
  height: 100px;
}
section a small{
  position: absolute;
  line-height: 100px;
  margin-left: -80px;
  opacity: 0;
  transition: all 0.5s ease;
}
section a:hover small, section a.show small{
  margin-left: 5px;
  opacity: 0.5;
}
.pull-right a:hover small, .pull-right a.show small{margin-left: -180px;}
#slides{width: 60%; margin: 0 auto;}
.side.pull-left{margin-right: 5%;}
.side.pull-right{margin-left: 5%;}
.pull-left{float: left;}
.pull-right{float: right;}
.container{width: 80%; margin:0 auto;}
section>.container{
  padding-top:5px;
  padding-bottom: 50px;
}
section h2:first-child{
  margin-top: 0;
}
pre{
  width: 50%;
  margin: 0 auto;
  text-align: left !important;
}
code{
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#nballstats{
  background-image: url(/images/nba_home_screen.jpg);
}
#nba-logo{
  height: 450px;
  transform-origin: center center 150px;
  opacity: 0.5;
}
#plexio{
  background-color: #fff;
  color: black;
}
#plexio a{
  color: black;
}
.project{
  height: 350px;
  overflow: hidden;
  position: relative;
}
.project a{
  display: block;
  text-align: center;
}
#plexio svg>g{
  transform-origin: 250px 150px;
  transition: transform 1s ease-out;
}
#plexio-logo{
  transform-origin: center center 150px;
}
.anim{
  transform: rotate(-720deg);
}

.project aside{
  position: absolute;
  top: 350px;
  transition: top .5s ease;
}
.project:hover aside{
  top: 300px;
}
.project aside a{
  display: inline-block;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
  background: transparent !important;
  color: #000 !important; /* Black prints faster: h5bp.com/s */
  box-shadow: none !important;
  text-shadow: none !important;
  }

  a,
  a:visited {
  text-decoration: underline;
  }

  a[href]:after {
  content: " (" attr(href) ")";
  }

  abbr[title]:after {
  content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
  content: "";
  }

  pre,
  blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
  }

  thead {
  display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
  page-break-inside: avoid;
  }

  img {
  max-width: 100% !important;
  }

  @page {
  margin: 0.5cm;
  }

  p,
  h2,
  h3 {
  orphans: 3;
  widows: 3;
  }

  h2,
  h3 {
  page-break-after: avoid;
  }
}
.main-subtitle-split-left,
.main-subtitle-split-right {
  display: inline-block;
  position: relative;
  height: 8px;
}
.main-subtitle-split-left .strip,
.main-subtitle-split-right .strip {
  position: absolute;
  right: 0;
  height: 2px;
}
.main-subtitle-split-left .green-strip {
  background: -moz-linear-gradient(left, rgba(0, 156, 59, 0) 0%, rgba(0, 156, 59, 0) 1%, #009c3b 75%, #009c3b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 156, 59, 0)), color-stop(1%, rgba(0, 156, 59, 0)), color-stop(75%, #009c3b), color-stop(100%, #009c3b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 156, 59, 0) 0%, rgba(0, 156, 59, 0) 1%, #009c3b 75%, #009c3b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 156, 59, 0) 0%, rgba(0, 156, 59, 0) 1%, #009c3b 75%, #009c3b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 156, 59, 0) 0%, rgba(0, 156, 59, 0) 1%, #009c3b 75%, #009c3b 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 156, 59, 0) 0%, rgba(0, 156, 59, 0) 1%, #009c3b 75%, #009c3b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  /* IE6-9 */
  width: 175px;
  top: 0;
}
.main-subtitle-split-left .yellow-strip {
  background: -moz-linear-gradient(left, rgba(254, 222, 0, 0) 0%, rgba(254, 222, 0, 0) 1%, #fede00 75%, #fede00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(254, 222, 0, 0)), color-stop(1%, rgba(254, 222, 0, 0)), color-stop(75%, #fede00), color-stop(100%, #fede00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(254, 222, 0, 0) 0%, rgba(254, 222, 0, 0) 1%, #fede00 75%, #fede00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(254, 222, 0, 0) 0%, rgba(254, 222, 0, 0) 1%, #fede00 75%, #fede00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(254, 222, 0, 0) 0%, rgba(254, 222, 0, 0) 1%, #fede00 75%, #fede00 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(254, 222, 0, 0) 0%, rgba(254, 222, 0, 0) 1%, #fede00 75%, #fede00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  /* IE6-9 */
  width: 165px;
  top: 4px;
}
.main-subtitle-split-left .blue-strip {
  background: -moz-linear-gradient(left, rgba(0, 39, 118, 0) 0%, rgba(0, 39, 118, 0) 1%, #002776 75%, #002776 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 39, 118, 0)), color-stop(1%, rgba(0, 39, 118, 0)), color-stop(75%, #002776), color-stop(100%, #002776));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 39, 118, 0) 0%, rgba(0, 39, 118, 0) 1%, #002776 75%, #002776 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 39, 118, 0) 0%, rgba(0, 39, 118, 0) 1%, #002776 75%, #002776 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 39, 118, 0) 0%, rgba(0, 39, 118, 0) 1%, #002776 75%, #002776 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 39, 118, 0) 0%, rgba(0, 39, 118, 0) 1%, #002776 75%, #002776 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  /* IE6-9 */
  width: 155px;
  top: 8px;
}
.main-subtitle-split-right .strip {
  left: 0;
}
.main-subtitle-split-right .yellow-strip {
  background: -moz-linear-gradient(left, #fede00 0%, #fede00 75%, rgba(0, 156, 59, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fede00), color-stop(75%, #fede00), color-stop(100%, rgba(0, 156, 59, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fede00 0%, #fede00 75%, rgba(0, 156, 59, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fede00 0%, #fede00 75%, rgba(0, 156, 59, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fede00 0%, #fede00 75%, rgba(0, 156, 59, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #fede00 0%, #fede00 75%, rgba(0, 156, 59, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  /* IE6-9 */
  width: 165px;
  top: 4px;
}
.main-subtitle-split-right .blue-strip {
  background: -moz-linear-gradient(left, #002776 0%, #002776 75%, rgba(0, 156, 59, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #002776), color-stop(75%, #002776), color-stop(100%, rgba(0, 156, 59, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #002776 0%, #002776 75%, rgba(0, 156, 59, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #002776 0%, #002776 75%, rgba(0, 156, 59, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #002776 0%, #002776 75%, rgba(0, 156, 59, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #002776 0%, #002776 75%, rgba(0, 156, 59, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  /* IE6-9 */
  width: 155px;
  top: 8px;
}
.main-subtitle-split-right .green-strip {
  background: -moz-linear-gradient(left, #009c3b 0%, #009c3b 75%, rgba(0, 156, 59, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #009c3b), color-stop(75%, #009c3b), color-stop(100%, rgba(0, 156, 59, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #009c3b 0%, #009c3b 75%, rgba(0, 156, 59, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #009c3b 0%, #009c3b 75%, rgba(0, 156, 59, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #009c3b 0%, #009c3b 75%, rgba(0, 156, 59, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #009c3b 0%, #009c3b 75%, rgba(0, 156, 59, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  /* IE6-9 */
  width: 175px;
  top: 0;
}

#dataworldcup{
  background-image: url(http://dataworldcup.eurosport.com/images/screen1.jpg);
  font-family: "metricblack";
  font-weight: 300;
}

#dataworldcup a{
  margin-top: 150px;
}

#dataworldcup h2, #dataworldcup span{
  font-weight: 300;
}

@font-face {
  font-family: "metricblack";
  src: url("/fonts/metricblack/metric-black-webfont.eot");
  src: url("/fonts/metricblack/metric-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/metricblack/metric-black-webfont.woff") format("woff"), url("/fonts/metricblack/metric-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}